In [ ]:
#原始大小阴阳性集

In [2]:
import pandas as pd
import numpy as np
str = f'./test_data/train_1.xlsx'
df1 = pd.read_excel(str)
new_columns = np.arange(152)
df1.columns = new_columns
df1[152]=1
df1

KeyboardInterrupt:

In [1]:
import pandas as pd
import numpy as np
str = f'./test_data/train_0.xlsx'
df2 = pd.read_excel(str)
new_columns = np.arange(152)
df2.columns = new_columns
df2[152]=0
df2

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,4,3,4,3,1,2,2,4,4,1,...,2,2,4,2,4,1,2,2,4,0
1,3,2,4,2,4,2,3,4,2,4,...,2,2,3,4,3,4,3,4,3,0
2,2,2,2,1,4,4,4,3,2,2,...,2,4,2,4,2,2,4,2,4,0
3,2,2,1,4,4,1,3,4,2,3,...,3,3,4,4,3,4,1,3,3,0
4,1,3,1,2,3,1,1,2,2,3,...,2,4,4,3,2,2,2,4,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11359,4,3,2,1,1,4,2,3,2,4,...,3,3,2,2,3,2,3,4,3,0
11360,4,3,3,4,3,2,4,2,2,4,...,3,4,1,3,4,1,4,2,4,0
11361,4,3,3,4,1,2,2,4,2,2,...,2,4,3,1,1,3,3,2,1,0
11362,4,3,3,2,4,4,4,3,1,2,...,1,2,2,2,1,4,1,3,1,0
11363,4,3,3,1,4,4,1,3,3,3,...,2,2,4,4,4,2,1,3,4,0

In [18]:
file_train_dataset = pd.concat([df1, df2], axis=0)

In [19]:
file_train_dataset.to_pickle("fountain_seq.pkl")

In [ ]:
#阴性集上采样(具体乘多少取决于阴阳性集比例)

In [20]:
new_df = [df2]*20
all_df = pd.concat(new_df, axis=0)
finaldf = pd.concat([all_df,df1],axis=0)
finaldf

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,4,1,1,1,4,1,3,3,4,4,...,2,1,1,3,4,2,4,3,2,0
1,3,2,2,3,4,1,4,4,3,1,...,2,1,2,2,1,3,2,2,1,0
2,4,2,2,1,2,4,2,4,2,3,...,2,1,2,1,2,2,4,4,1,0
3,1,3,4,2,1,3,4,2,4,1,...,3,1,4,3,1,1,2,1,2,0
4,3,2,4,4,3,3,2,1,1,4,...,1,4,1,3,1,1,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68852,3,3,3,2,2,1,4,1,1,2,...,2,3,2,4,1,3,1,1,2,1
68853,2,2,4,3,1,3,2,1,3,3,...,2,1,2,1,2,2,3,4,4,1
68854,1,3,3,2,3,4,1,4,4,4,...,2,2,3,3,1,1,3,1,3,1
68855,2,3,4,1,4,4,4,3,1,4,...,2,3,2,1,1,1,4,3,3,1
68856,2,4,2,4,3,4,2,4,4,3,...,1,2,2,3,3,2,4,2,2,1

In [21]:
finaldf.to_pickle("balanced_fountain_seq.pkl")

In [ ]:
#抽取等数量数据做测试集

In [22]:
idex = list(range(3000)) 
new_df_1 = df1.iloc[idex]
new_df_1

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,1,2,2,1,3,2,1,2,4,4,...,1,2,1,2,3,2,2,3,3,1
1,4,1,3,3,4,4,2,1,1,2,...,2,1,4,1,1,3,3,1,1,1
2,2,1,1,2,4,3,3,1,1,1,...,2,3,2,4,1,1,2,3,3,1
3,1,1,1,2,2,4,3,1,1,4,...,1,2,4,4,1,3,2,3,4,1
4,4,4,4,2,4,2,2,1,3,1,...,2,2,4,2,1,2,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1,3,3,1,2,1,4,2,4,1,...,1,4,3,4,1,1,2,1,1,1
2996,1,4,2,4,1,3,2,4,3,3,...,3,2,4,1,2,3,2,4,2,1
2997,3,1,2,1,2,3,2,3,4,1,...,1,2,2,3,2,1,2,1,1,1
2998,2,1,2,3,2,3,4,1,1,1,...,1,4,4,3,3,2,1,4,1,1
2999,2,3,2,3,4,1,1,1,2,3,...,4,4,1,2,4,2,4,2,3,1

In [23]:
new_df_2 = df2.iloc[idex]
new_df_2

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,4,1,1,1,4,1,3,3,4,4,...,2,1,1,3,4,2,4,3,2,0
1,3,2,2,3,4,1,4,4,3,1,...,2,1,2,2,1,3,2,2,1,0
2,4,2,2,1,2,4,2,4,2,3,...,2,1,2,1,2,2,4,4,1,0
3,1,3,4,2,1,3,4,2,4,1,...,3,1,4,3,1,1,2,1,2,0
4,3,2,4,4,3,3,2,1,1,4,...,1,4,1,3,1,1,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2,3,4,2,4,3,2,1,1,4,...,2,3,2,4,3,1,2,3,1,0
2996,4,4,3,2,4,1,1,3,2,4,...,4,4,3,2,3,1,2,2,4,0
2997,3,2,1,1,4,3,4,4,1,1,...,1,4,1,1,1,2,4,3,2,0
2998,1,3,1,4,4,4,2,2,4,2,...,4,4,1,4,4,4,3,2,2,0
2999,1,2,2,2,4,1,4,4,1,3,...,2,3,2,3,1,2,4,2,2,0

In [24]:
df_final = pd.concat([new_df_1, new_df_2], axis=0)
df_final.to_pickle("1500_fountain.seq")

In [2]:
df2.to_pickle("negfountain.pkl")

In [2]:
df1.to_pickle("positivefountain.pkl")

In [3]:
import pandas
df2 = pd.read_pickle

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,3.0,2.0,2.0,3.0,1.0,4.0,1.0,2.0,1.0,4.0,...,4.0,3.0,4.0,3.0,3.0,3.0,2.0,4.0,4.0,0
2,4.0,3.0,4.0,3.0,1.0,2.0,2.0,4.0,4.0,1.0,...,2.0,2.0,4.0,2.0,4.0,1.0,2.0,2.0,4.0,0
4,3.0,2.0,4.0,2.0,4.0,2.0,3.0,4.0,2.0,4.0,...,2.0,2.0,3.0,4.0,3.0,4.0,3.0,4.0,3.0,0
6,2.0,2.0,2.0,1.0,4.0,4.0,4.0,3.0,2.0,2.0,...,2.0,4.0,2.0,4.0,2.0,2.0,4.0,2.0,4.0,0
8,2.0,2.0,1.0,4.0,4.0,1.0,3.0,4.0,2.0,3.0,...,3.0,3.0,4.0,4.0,3.0,4.0,1.0,3.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22720,4.0,3.0,2.0,1.0,1.0,4.0,2.0,3.0,2.0,4.0,...,3.0,3.0,2.0,2.0,3.0,2.0,3.0,4.0,3.0,0
22722,4.0,3.0,3.0,4.0,3.0,2.0,4.0,2.0,2.0,4.0,...,3.0,4.0,1.0,3.0,4.0,1.0,4.0,2.0,4.0,0
22724,4.0,3.0,3.0,4.0,1.0,2.0,2.0,4.0,2.0,2.0,...,2.0,4.0,3.0,1.0,1.0,3.0,3.0,2.0,1.0,0
22726,4.0,3.0,3.0,2.0,4.0,4.0,4.0,3.0,1.0,2.0,...,1.0,2.0,2.0,2.0,1.0,4.0,1.0,3.0,1.0,0
22728,4.0,3.0,3.0,1.0,4.0,4.0,1.0,3.0,3.0,3.0,...,2.0,2.0,4.0,4.0,4.0,2.0,1.0,3.0,4.0,0